.caixa {
  margin: auto;
  padding: auto;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 300px;
  border-top: 1px solid ;
  height: 200px;
  border-radius: 5px;
  text-align: center;

  
  background-color: #d9d8d8;
  box-sizing: border-box;


}

  a{
    color: cornflowerblue;
    border: 20px;
    padding: 5px;
  }

  label{
    display: block;
  } 

  input{
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    height: 30px;
  } 
  input:hover{
    border: 2px solid blueviolet;
  }
