*{
  margin: 0;
  padding: 0;
}
.caixa {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 120px; 
}
.card {
  max-width: 250px;
  border: 3px solid #bfbcbc80;
  padding: 30px;

  background-color: #ece8e8;
  box-sizing: border-box;
}

  a{
    color: cornflowerblue;
    
  }

  label{
    display: block;
  } 

  input{
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    height: 30px;
  } 
  input:hover{
    border: 2px solid blueviolet;
  }

.icon{
    position: absolute;
    float: inline-start;
    width: 5%;
    height: 3%;
    
}
