section {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8% auto;
  grid-template-areas: 
  "aside header header header"
  "aside  main   main  main" 
  "aside  main   main  main" 
  "aside  main   main  main" ;
}

body, html {
  
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  
}
aside {
  grid-area: aside;
  background-color: #bfbcbc80;
  
}


main {
  grid-area: main;
  margin: 20px;
  
 
}

hr{
  background-color: #bfbcbcea;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
}

h2{
  color:black;
  background-color: #bfbcbcea;
  padding: 20px;
  font-size: 20px;
}

h1{
  color:black;
  background-color: #bfbcbcea;
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

h4{
  padding-bottom: 20px ;
}

h5 {
  color:black;
  position: relative;
  line-height: 1.2em; 
  text-align: justify;
  font-size: 15px;
  padding-bottom: 20px ;
  width: 700px;

}


img{
  width: 200px;
  height: 250px;
  padding: 1%;
  
}
h3 {
  color:black;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: auto;
  background-color: rgb(249, 249, 240);
}

a {
  text-decoration: none;
}