section {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8% auto;
  grid-template-areas: 
  "aside header header header"
  "aside  main   main  main" 
  "aside  main   main  main" 
  "aside  main   main  main" ;
}

body, html {
  
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  
}
aside {
  grid-area: aside;
  background-color: #bfbcbc80;
  
}


main {
  grid-area: main;
  margin: 20px;
  
 
}

.aside h2 {
  color:black;
  background-color: #bfbcbcea;
  padding: 20px;
  font-size: 20px;
}

.aside hr {
  background-color: #bfbcbcea;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
}

.header h1 {
  color:black;
  background-color: #bfbcbcea;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.estrelas h3 {
  color:black;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px;
}

.estrelas h4 {
  padding-bottom: 20px ;
}

.estrelas h5 {
  color:black;
  line-height: 1.2em; 
  text-align: justify;
  font-size: 15px;

}


img {
  width: 200px;
  height: 250px;
  padding: 1%;
  
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(249, 249, 240);
  
}

