.modal-container{
  background-color: rgb(122, 120, 120);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  overflow: auto;
  height: 100%;
  padding-top: 10%;
  width: 100%;
}

.modal{
  background-color:#ebeaea;
  padding: 10px;
  margin: auto;
  width: 500%;
  max-width: 400px;
  max-height: 900px;
  border-radius: 10px;
  
}
.close{
  color: white;
  background-color:rgb(8, 215, 187);
  font-size: 15px;
  float: right;
  position: relative;
} 
.close:hover{
  background-color:rgb(122, 120, 120);
  color:rgb(122, 120, 120);
}
.buttom {
  margin-bottom: 100px;
}